<!DOCTYPE html>
<html lang=cmn-Hans>
   <head>
    <meta charset=UTF-8>
    <title>网站名称</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"><meta name=apple-mobile-web-app-capable content=yes>
    <meta name=mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=white>
    <meta name=apple-mobile-web-app-title content=网站名称>
    <meta name=author content=hackyo>
    <meta name=Keywords content=Keywords，Keywords，Keywords>
    <meta name=Description content="网站介绍 | Website introduction">
    <link rel="shortcut icon" type=image/x-icon href=/static/image/favicon.ico>
    <link rel=icon sizes=any href=/static/image/favicon.svg>
    <link rel=apple-touch-icon-precomposed href=/static/image/icon72x72@2x.png>
    <link href=/static/css/app.6255257a298d40d32923b6f2a43a2fd1.css rel=stylesheet>
   </head>

<body>
   <div id=app></div>
   <script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
   <script type=text/javascript src=/static/js/vendor.6c79b3fac79c87dbefc1.js></script>
   <script type=text/javascript src=/static/js/app.6fa290af5f8a52e5e04b.js></script>
</body>

</html>

